<div class="tribia">
小さな筋肉ばかり鍛える。トレーニング種目が多すぎる。無駄にストレッチが長い。
これは全て筋トレが続かなくなる大きな原因です。なぜならインプット(努力)に対してアウトプット(成果)が小さすぎるからです。
<br>
筋トレ初心者の方であれば、大胸筋を中心に鍛えるベンチプレスだけで問題ないです。
また一般論ではギリギリ10回挙げられる重量を3セット行うのが良いとされていますが、トレーニング初期に限っては、15回くらい挙げられる重量を10回3セットでも問題ないです。
トレーニング頻度も週1~2回で大丈夫です。但し、トレーニング後30分以内にプロテイン(タンパク質含有量の観点からゴールドスタンダード社製推奨)を摂取してください。
これらを続けているとどこかで挙上重量が停滞すると思いますが、この壁を超えた時、筋トレを辞めれないのが悩みになっているはずです。
</div>