<div class="tribia">
ランニング等の有酸素運動は実は筋肉を落ちやすくし、リバウンドしやすい体になってしまうという事実を知らない方は多いと思います。
しかし個人的な見解ですが、ダイエットに有酸素運動は有効であると考えております。
<br>
理由は２つあり、1つは、自律神経を整える働きがあることです。
現在の社会はストレスが多いため、自律神経の切り替えが上手くできず、常に交感神経優位となっています。
人は無意識に副交感神経優位にしようしますが、実は甘い物を摂取すると副交感神経に切り替わりやすくなります。ただし言わずもがな甘い物を食べると太ります。
ランニングには自律神経の切り替えをスムーズにする働きがあるため、甘い物を欲することが少なくなります。
<br>
2つ目に、理性を司る前頭前野が活性化するためです。ダイエットは色々な誘惑に打ち勝つことが非常に重要になります。
有酸素運動を行い、理性を高めることができればダイエットの成功も近くなリます。
<br>
話は変わりますが、有酸素運動が続かない人の特徴として、開始初日に頑張りすぎて、翌日筋肉痛になり、走るのが嫌になってしまうパターンが多いです。
まず初日は靴を履くだけ、二日目は歩くだけのように徐々に強度を高める方が習慣化しやすいです。
</div>