<div class="tribia">
食べていないのに痩せない。考えられる原因は2つあります。
<br>
1つは脂質を多く取りすぎていることです。カロリーのある栄養素は3つ、タンパク質、糖質、脂質です。
タンパク質と糖質は1gあたり4kcalですが、脂質は9kcalとなります。見た目の分量は小さくても実は多くのカロリーを摂取している可能性があります。
<br>
2つ目に、体が省エネ状態になっていることです。当たり前ですが、1日の摂取カロリーより、消費カロリーが多くなれば痩せます。
しかしこの状態を何日間も続けていると、体はこのままでは飢餓してしまうと錯覚し、省エネ状態となります。そのため食べていないのに痩せない状態に陥ります。
この状況を打破するには、どか喰いをすることです。これにより体は飢餓状態にはないと判断し、基礎代謝が戻り、痩せやすくなります。
</div>