<div class="tribia">

この世にダイエットは2つしかありません。「糖質制限」と「脂質制限」です。
その中で一般の方にオススメするのは「脂質制限」です。なぜなら「糖質制限」は難しすぎるからです。
<br>
まず「糖質制限」は文字通り糖質を制限することとなるですが、それと同時に大量の脂質を摂取しなければなりません。
<br>
通常人間はご飯やパンなどの糖質を摂取し、ブドウ糖に変換しエネルギーを生み出していますが、
糖質制限時には脂質を大量摂取し、ケトン体と呼ばれるエネルギー物質を生成しないといけません。
<br>
しかし多くの糖質制限実施者は、糖質も脂質も中途半端な摂取量となっています。それにより体は不足したエネルギーを補填しようと筋肉を分解し、
どんどんリバウンドしやすい体になってしまいます。
その点「脂質制限」は糖質も脂質もある程度は摂取できるので、「糖質制限」よりは楽です。
<br>
ちなみにライザップは「糖質制限」を推奨していますが、ハードな筋トレを大前提にしているのと、
「糖質制限」開始初期の段階で、糖質に纏わり付いていた水分も一緒に排出されるので、脂肪は減っていなくても、見た目の体重が激減します。
利用者を騙すまではいかないものの、かなりビジネス的な向きが強いです。





</div>