.contain{
  display: flex;
  margin-top: 50px;
}

.profile{
  color: white;
  border: solid 3px white;
  padding: 0.5em;
  border-radius: 0.5em;
  height: 600px;
  width: 330px;
  font-size: 20px;
  background-image: url(https://beiz.jp/images_T/stone/stone_00083.jpg);
}

.profile-edit{
  font-style:oblique;
  font-family:cursive;
  color: white;
  font-size: 25px;
  margin-left: 40px;
}

.profile-content{
  padding-top: 15px;
  line-height: 50px;
  font-style:oblique;
  font-family:cursive;
}

.up-content{
  display: flex;
}

.pfc{
  color: white;
  border: solid 3px white;
  padding: 0.5em;
  border-radius: 0.5em;
  height: 279px;
  width: 480px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-image: url(https://beiz.jp/images_T/stone/stone_00083.jpg);
}

.pfcsheet{
  height: 65px;
  
}

.pfc-btn{
  display: flex;
  margin-bottom: 5px;
  margin-top: 20px;
  font-style:oblique;
  font-family:cursive;
}

.three-btn{
  margin-left: 50px;
  border: solid 1px black;
  padding: 0.5em;
  border-radius: 30em;
  font-style:oblique;
  font-family:cursive;
  border-bottom: solid 4px #627295;
  width: 75px;
  height: 25px;
  background-color: white;
  color: black;
  cursor: pointer;
  text-align: center;
}

.advise{
  display: flex;
  margin-bottom: 25px;
}

.hard-advise{
  margin-left: 35px;
}

.normal-advise{
  margin-left: 30px;
}

.easy-advise{
  margin-left: 30px;
}

.search{
  color: white;
  margin-left: 20px;
}

.form-date{
  height: 30px;
  font-size: 16px;
  margin-left: 5px;
  width:400;
  font-style:oblique;
  font-family:cursive;
  border-radius: 0.3em;
}

.ingredient{
  height: 30px;
  font-size: 16px;
  margin-left: 5px;
  width:400;
  font-style:oblique;
  font-family:cursive;
  border-radius: 0.3em;
}

.protein{
  height: 20px;
  font-size: 14px;
  margin-left:175px;
  width: 60px;
  font-style:oblique;
  font-family:cursive;
  border-radius: 0.3em;
}

.carbo{
  height: 20px;
  font-size: 14px;
  width:60px;
  font-style:oblique;
  font-family:cursive;
  border-radius: 0.3em;
}

.fat{
  height: 20px;
  font-size: 14px;
  width: 60px;
  font-style:oblique;
  font-family:cursive;
  border-radius: 0.3em;
}

.send{ 
  padding: 0.5em;
  border-radius: 30em;
  font-style:oblique;
  font-family:cursive;
  border-bottom: solid 4px #627295;
  margin-left: 10px;
  width: 60px;
  height: 40px;
  cursor: pointer;
}

.modes{
  font-style:oblique;
  font-family:cursive;
  font-size: 20px;
}

.modes{
  margin-top: 15px;
}

.mode{
  display: none;
}

.active{
  display: block;
}

.hard{
  display: flex;
  margin-left: 60px;
}

.hard-protein{
  padding-left: 55px;
}

.hard-carbo{
  padding-left: 37px;
}

.hard-fat{
  padding-left: 37px;
}

.normal{
  display: flex;
  margin-left: 60px;
}

.normal-protein{
  padding-left: 55px;
}

.normal-carbo{
  padding-left: 37px;
}

.normal-fat{
  padding-left: 37px;
}

.easy{
  display: flex;
  margin-left: 60px;
}

.easy-protein{
  padding-left: 55px;
}

.easy-carbo{
  padding-left: 37px;
}

.easy-fat{
  padding-left: 37px;
}

.calendar{
  color: white;
  border: solid 3px white;
  padding: 0.5em;
  border-radius: 0.5em;
  height: 279px;
  width: 480px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-image: url(https://beiz.jp/images_T/stone/stone_00083.jpg);
}

.calendar-all{
  display: flex;
  margin-bottom: 5px;
}

.super-between{
  display: flex;
  justify-content: flex-start;
}

.between{
  width: 130px;
  display: block;
  text-align: center;
}

.sum{
  font-size: 18px;
  text-decoration: underline;
  margin-top: 5px;
}

.allCalorie{
  margin-left: 210px;
  font-size: 20px;
  text-decoration: underline;
}

.chart{
  border: solid 3px white;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-left: 20px;
  height: 279px;
  background: -moz-linear-gradient(top, #FFC778, #FFF);
  background: -webkit-linear-gradient(top, #FFC778, #FFF);
  background: linear-gradient(to bottom, #FFC778, #FFF);
}